/cqLog
/dumps
/dist
/*/__pycache__
/pycqBot.egg-info
/download
/cqLogs
/main.py
/pycqBot/*/__pycache__
/plugin/plugin_config.yml
/test.py
/config.yml
/test.http
/.eggs
/data
/logs
/device.json
/session.token
/go-cqhttp
/start
/.idea