/*/__pycache__
/.idea
/bin/start_config.yml
/go-cqhttp
/info
/test
/plugin/plugin_config.yml
/plugin/*/__pycache__
/pycqBot.egg-info
/pycqBot/*/__pycache__
/dumps
/dist
/download
/cqLogs
/main.py
/test.py
/config.yml
/test.http
/.eggs
/data
/device.json
/session.token
/plugin/thesaurus/data